<!DOCTYPE html>
<html ng-app>
<head>
	<title>q</title>
	<script src="angular.min.js"></script>
	<script src="alumno.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="AlumnoController">

<div class ='contact-item' ng-repeat="alumno in alumno | orderBy: 'nombre'">
{{alumno.nombre}} estudia {{alumno.curso}}
</div>

<button ng-click="ShowForm()" ng-hide="FormVisibility">Agregar</button>

<div ng-show="FormVisibility" class="wrapper">
<input type="text" ng-model="nuevoAlumno.nombre"></input>
<input type="text" ng-model="nuevoAlumno.curso"></input>

<button ng-click="Save()">GUardar</button>


</body>
</html>